<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/index.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <title>File server</title>
</head>

<body>
  <div class="container">
    <h1> Directory: <%= path %> </h1>
    <table>
      <% if(parent) { %>
        <tr>
          <td> <i class="fa fa-folder-open"></i> </td>
          <td></td>
          <td class="file-name-column"> <a href="<%= parent %>"> .. </a> </td>
          <td></td>
        </tr>
      <% } %>
      <% files.forEach(file => { %>
      <tr>
        <% if(file.isDir) { %>
        <td> <i class="fa fa-folder-open"></i> </td>
        <% } else { %>
        <td> <i class="fa fa-file-o"></i> </td>
        <% } %>
        <td class="size-column"> <%= file.isDir ? "" : file.size %> </td>
        <td class="file-name-column"> <a href="<%= path + file.name %>"> <%= file.name %> </a> </td>
        <td> <input class="delete-checkbox" type="checkbox" value="<%= path + file.name %>"> </td>
      </tr>
      <% }) %>
      <tr>
        <td></td>
        <td></td>
        <td class="file-name-column"></td>
        <td> <button onclick="deleteSelected()"> <i class="fa fa-trash"></i> </button> </td>
      </tr>
    </table>

    <h4>Upload File</h4>
    <form id="upload-form" enctype="multipart/form-data">
      <input type="file" name="files" id="inp-files" multiple style="width: 500px;">
      <input id="upload-button" type="submit" value="upload">
    </form>

    <div id="progress-bar">
      <div id="progress-bar-fill">
        <span id="progress-bar-text">20%</span>
      </div>
    </div>

    <h4>Make Directory</h4>
    <form id="mkdir-form" enctype="application/json">
      <input type="text" name="dirname" id="dir-name-input">
      <input type="hidden" name="path" value="<%= path %>">
      <input id="mkdir-button" type="submit" value="mkdir">
    </form>

    <h4>Update Password Cookie</h4>
    <input type="password" id="password">
    <button id="update-password-button" onclick="updatePassword()">update password cookie</button>
    <button id="reset-password-button" onclick="resetPassword()">reset password cookie</button>

    <div class="alert alert-success" id="upload-success-alert">
      File uploaded successfully!
      <button onclick="location.reload()">Reload</button>
    </div>

    <div class="alert alert-success" id="delete-success-alert">
      Files deleted successfully!
      <button onclick="location.reload()">Reload</button>
    </div>

    <div class="alert alert-success" id="mkdir-success-alert">
      Directory created successfully!
      <button onclick="location.reload()">Reload</button>
    </div>

    <div class="alert alert-danger" id="error-alert"></div>
    <div class="alert alert-success" id="success-alert">X</div>
  </div>

</body>
<script>
  const path = '<%= path %>'
</script>
<script src="/static/index.js"></script>

</html>