<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1> <%= path %> </h1>
    <table class="table table-sm table-borderless table-hover">
      <% files.forEach(file => { %>
        <tr>

          <td> <button class="btn btn-danger btn-sm" onclick="deleteFile('<%= path+file.name %>')"><i class="fa fa-times"></i></button> </td>
          <% if(file.isDir) { %>
            <td> <i class="fa fa-folder-open"></i> </td>
          <% } else { %>
            <td> <i class="fa fa-file-o"></i> </td>
          <% } %>
          <td class="size-column"> <%= file.isDir ? "" : file.size %> </td>
          <td> <a href="<%= path + file.name %>"> <%= file.name %> </a> </td>
        </tr>
      <% }) %>
    </table>
  
  
    <div class="card container">
      <div class="card-body">
        <h3>Upload File</h3>
        <form class="form-inline" id="upload-form" enctype="multipart/form-data">
            <input type="file" class="form-control-file" name="inp-files" id="inp-files" multiple>
          <input id="upload-button" type="submit" class="btn btn-primary" value="Upload">
        </form>

        <br>

        <div class="progress" id="progress">
          <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
        </div>

        <div id="success-alert" class="alert alert-success" role="alert" style="visibility: collapse;">
          File uploaded successfully!
          <button class="btn btn-sm btn-success" onclick="location.reload()">Reload</button>
        </div>
      </div>
      
    </div>
    
  </div>
  
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
  const path = '<%= path %>'
</script>
<script src="/static/index.js"></script>
</html>