<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/index.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1> Directory: <%= path %> </h1>
    <table>
      <% if(parent) { %>
        <tr>
          <td> <i class="fa fa-folder-open"></i> </td>
          <td></td>
          <td> <a href="<%= parent %>"> .. </a> </td>
        </tr>
      <% } %>
      <% files.forEach(file => { %>
      <tr>
        <% if(file.isDir) { %>
        <td> <i class="fa fa-folder-open"></i> </td>
        <% } else { %>
        <td> <i class="fa fa-file-o"></i> </td>
        <% } %>
        <td class="size-column"> <%= file.isDir ? "" : file.size %> </td>
        <td class="file-name-column"> <a href="<%= path + file.name %>"> <%= file.name %> </a> </td>
        <td> <button onclick="deleteFile('<%= path+file.name %>')"><i class="fa fa-times"></i></button> </td>
      </tr>
      <% }) %>
    </table>

    <h3>Upload File</h3>
    <form class="form-inline" id="upload-form" enctype="multipart/form-data">
      <input type="file" name="inp-files" id="inp-files" multiple>
      <input id="upload-button" type="submit" value="upload">
    </form>

    <h3>Make Directory</h3>
    <form id="mkdir-form" enctype="application/json">
      <input type="text" name="dirname" id="dir-name-input">
      <input type="hidden" name="path" value="<%= path %>">
      <input id="mkdir-button" type="submit" value="mkdir">
    </form>

    <div id="progress-bar">
      <div id="progress-bar-fill">
        <span id="progress-bar-text">20%</span>
      </div>
    </div>

    <div class="alert-success" id="upload-success-alert">
      File uploaded successfully!
      <button onclick="location.reload()">Reload</button>
    </div>

    <div class="alert-success" id="delete-success-alert">
      File deleted successfully!
      <button onclick="location.reload()">Reload</button>
    </div>

    <div class="alert-success" id="mkdir-success-alert">
      Directory created successfully!
      <button onclick="location.reload()">Reload</button>
    </div>

  </div>

</body>
<script>
  const path = '<%= path %>'
</script>
<script src="/static/index.js"></script>

</html>